body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #D3E7F0; /* Light background color */
    margin: 0;
    padding: 0;
}
.main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.navbar {
    background-color: #7097A8; /* Dark background for navbar */
    color: white;
    padding: 20px; /* Reduced height */
    width: 100%; /* Full width */
    position:relative
    
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Center the links */
}
.navbar ul li {
    display: inline;
    margin-right: 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.info {
    text-align: center;
    margin: 20px 0;
}
.info h1 {
    color: #FFB709; /* Attractive color for headings */
}
.footer {
    background-color: #7097A8; /* Dark footer background */
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}